{% extends "base.html" %}

{% block title %}Project - MyPage{% endblock %}

{% block content %}
    <h1 class="page-title">프로젝트 소개</h1>

    <section class="projects">
        <div class="project">
            <h2>웹 공방전</h2>
            <p>웹(Apach, PHP, Mysql)을 사용하여 제작하고 서로 공격과 방어를 해본 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>일몰시 (공부 타이머)</h2>
            <p>공부 타이머를 사용할 수 있는 웹 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>안드로이드 포렌식</h2>
            <p>Android 관련 구조, 방식을 공부한 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>안드로이드 악성 앱 제작</h2>
            <p>Android 악성 앱 종류 중 하나인 Spyware를 제작한 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>DeepFake Detection</h2>
            <p>CNN을 이용한 DeepFake Detection 플랫폼 제작한 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>CTF 사이트 제작</h2>
            <p>CTF 플랫폼을 제작하여 운영해본 프로젝트입니다.</p>
        </div>

        <div class="project">
            <h2>악성코드 분석</h2>
            <p>다양한 악성코드를 분석하여 취약점을 연구하고 대응 방법을 연구한 프로젝트입니다.</p>
        </div>
    </section>
    <hr>
    <h1 class="page-title">수상 경력</h1>
    <div class="project">
        <h2>악성파일분석미니챌린지</h2>
        <h2>2024 호남지역 해커톤</h2>
        
        
    </div>
{% endblock %}
